:root {
	// ******************************************************************
	// *** Colors
	// ******************************************************************
	--root-color-1: #e31b6d;
	--root-color-2: #04c2c9;

	--color-palette-1: #181818;
	--color-palette-2: #2a2a2a;
	--color-palette-3: #aaaaaa;
	--color-palette-4: #c5c5c5;
	--color-palette-5: #fffcfc;
	--color-palette-6: #ffffff;

	--success: #738d45;
	--warning: #cbcd2ba6;
	--error: #cd412b;
	--info: #1f6ba0;

	// ******************************************************************
	// *** Font sizes
	// ******************************************************************
	--fz-big-boi: 4rem;
	--fz-medium-boi: 2rem;
	--fz-small-boi: 1.6rem;
	--fz-tiny-boi: 1.2rem;

	// ******************************************************************
	// *** Shadows
	// ******************************************************************
	--shadow-1: 2px 4px 8px rgba(0, 0, 0, .1);

	// ******************************************************************
	// *** Transitions
	// ******************************************************************
	--standard-transition-time: 0.35s;

	// ******************************************************************
	// *** Z-indexes
	// ******************************************************************
	--z-noise: 5000;
}
